@tailwind base;
@tailwind components;
@tailwind utilities;

.about{
  background-color: rgb(64, 80, 141);
  text-align: center;
  color:rgb(20, 55, 56);
  width: 100%; /* Full width */
  height: 100vh;
}
.about h1{
  color: black;
  font-size: 1.3rem;
  text-decoration: underline;
}
.about p{
  font-size: 1.2rem;
  line-height: 1.3;
}
.contact{
  background-color: rgb(53, 97, 184);
  text-align: center;
  color:rgb(24, 72, 77);
  width: 100%; /* Full width */
  height: 100vh;
}
.contact h1{
  color: black;
  font-style: bold;
  font-size: 1.3rem;
  text-decoration: underline;
}
.contac p{
  font-size: 1.2rem;
  line-height: 1.3;
  min-height: 100vh;
  flex:auto
}
.skills{
  background-color: rgb(125, 127, 136);
  color:rgb(24, 66, 77);
  justify-content: center;
  align-items: center;
  font-style: bold;
  width: 100%; /* Full width */
  height: 100vh;
}
.skills h1{
  color: black;
  font-size: 1.3rem;
  text-decoration: underline;
  flex:auto
}
.skills li{
  list-style-type: decimal;
  color: rgb(22, 43, 82);
  font-size: 1.2rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}